body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e7ecf1;
}

.home {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* BARRA LATERAL */

.sidebar {
  width: 70px;
  height: 100%;
  background-color: #527da2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  z-index: 1;
  position: relative;
  position: fixed;
}

.sidebar .nav-menu :hover {
  background-color: #b1daec;
  transition: background-color 0.6s;
  border-radius: 10px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.menu-item {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: #1b2637;
  text-decoration: none;
  font-size: 12px;
}

.menu-item img {
  display: block;
  margin: 0 auto 10px;
  width: 30px;
  height: 30px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* CABEÇALHO */
.header {
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5%;
  background: linear-gradient(87.58deg, #0c141f 30.2%, #3a5b7d 98%);
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-wrapper {
  width: 40%;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}

.header input::placeholder {
  text-align: center;
}

.logo {
  width: 280px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50px;
  left: 14.15%;
  transform: translateX(-50%);
}

.user-info {
  position: absolute;
  display: flex;
  align-items: center;
  right: 250px;
}

.user-info img {
  background-color: #d8d8d8;
  border-radius: 30px;
}

.user-greeting {
  margin-right: 10px;
}

.user-icon {
  width: 30px;
  height: 30px;
}

/* INFORMAÇÕES DO CONTEÚDO */
.course-info {
  flex: 1;
  position: absolute;
  top: 55%;
  left: 105vh;
  transform: translate(-50%, -50%);
  display: flex;
}

.course-card {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 590px;
  height: 230px;
  display: flex;
  flex-direction: column;
}

.course-icon {
  width: 100px;
  height: 35px;
  padding-left: 20px;
  object-fit: cover;
}

.course-image {
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.course-details {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

.course-details .cc1 {
  padding-left: 40px;
  justify-content: start;
  position: relative;
  width: 100%;
  height: 10%;
}

.curso-icone2 {
  position: absolute;
  top: 0px;
  left: 15px;
}

.alvo-icone {
  position: absolute;
  right: 58%;
}

.course-details .cc2 {
  padding: 10px 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 10%;
}

.course-details img {
  width: 20px;
}

.course-title,
.course-progress {
  font-size: 15px;
  color: #1b2637;
}

/* SOBRE O CONTEÚDO */
.sobre {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 300px;
  height: 230px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex: 2;
}

.sobre h3 {
  background-color: #385878;
  padding: 8px;
  margin-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: normal;
  color: white;
}

.sobre p {
  margin-top: 0px;
  padding: 0px 10px 1px 20px;
}
/* BARRA DE MÓDULOS, FAVORITOS E ANOTAÇÕES */
.barra_modulos {
  display: flex;
  position: relative;
  flex-direction: row;
  top: 73%;
  left: 35%;
  margin-top: 25px;
  width: 50%;
}

.barra_modulos a {
  text-decoration: none;
  padding: 1px 60px 8px 30px;
  color: black;
  border-bottom: 2px solid#ADADAD;
}

/* MÓDULOS */
.modulos {
  position: relative;
  top: 85%;
  right: 18.5%;
  width: 76.5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shared-style {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.introducao {
  flex: 1;
}

.aula-modulo1 {
  flex: 2;
}

.info-item {
  display: flex;
  align-items: baseline;
}

.info-item img {
  width: 18px;
  margin-right: 5px;
  align-items: baseline;
}

.info-item span {
  font-size: 16px;
  color: #1b2637;
}

.aula-progresso {
  position: absolute;
  right: 42%;
}

.progresso-curso {
  position: absolute;
  right: 8%;
}

/* DROPDOWN */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.dropdown {
  display: none;
}

.aula {
  position: relative;
  right: 4.8%;
  top: -25%;
  width: 99%;
  margin: 3px;
  background-color: #ffffff;
  padding: 15px 30px 15px 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  
}

.aula img {
  width: 18px;
  margin-right: 5px;
  float: right;
  padding: 1px 5px 1px 1px;
}

/* MEDIA QUERIES */
@media (max-width: 1335px) {
  .logo {
    width: 280px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50px;
    left: 20%;
    transform: translateX(-50%);
  }

  .barra_modulos {
    display: flex;
    position: relative;
    flex-direction: row;
    top: 73%;
    left: 33%;
    margin-top: 25px;
    width: 100%;
  }

  .aula-progresso {
    position: absolute;
    right: 38%;
  }

  .progresso-curso {
    position: absolute;
    right: 10%;
  }

  .aula {
    position: relative;
    right: 9%;
    width: 100%;
    margin: 5px;
    background-color: #ffffff;
    padding: 15px 30px 15px 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 1240px) {
  .user-info {
    position: absolute;
    display: flex;
    align-items: center;
    right: 200px;
  }
  /* INFORMAÇÕES DO CONTEÚDO */
  .course-info {
    flex: 1;
    position: absolute;
    top: 55%;
    left: 80vh;
    transform: translate(-50%, -50%);
    display: flex;
  }

  .course-card {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 500px;
    height: 230px;
    display: flex;
    flex-direction: column;
  }

  .course-icon {
    width: 100px;
    height: 35px;
    padding-left: 20px;
    object-fit: cover;
  }

  .curso-icone2 {
    position: absolute;
    top: 0px;
    left: 15px;
  }

  .alvo-icone {
    position: absolute;
    right: 64.5%;
  }

  /* SOBRE O CONTEÚDO */
  .sobre {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 300px;
    height: 230px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex: 2;
  }

  .progresso-curso {
    position: absolute;
    right: 11%;
  }

  .aula-progresso {
    position: absolute;
    right: 36%;
  }
}

@media (max-width: 978px) {
  .sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 50px;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-menu {
    flex-direction: row;
    width: 100%;
  }

  .menu-item {
    padding: 10px 0;
    font-size: 10px;
    text-decoration: none;
  }

  .main-content {
    margin-top: 70px; /* Ajuste conforme necessário */
  }

  .header {
    padding: 50px;
  }

  .logo {
    width: 140px;
    height: 75px;
    top: 10px;
    left: 15%;
    transform: translateX(-50%);
  }

  .user-info {
    position: absolute;
    right: 110px;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
  }

  .user-icon {
    width: 25px;
    height: 25px;
  }

  .course-info {
    flex: 1;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 230px;
  }

  .alvo-icone {
    position: absolute;
    right: 65px;
  }

  .course-card {
    width: 100%;
    max-width: 300px;
  }

  .course-info a {
    text-decoration: none;
  }

  .user-info {
    position: absolute;
    display: flex;
    align-items: center;
    right: 100px;
  }

  /* INFORMAÇÕES DO CONTEÚDO */
  .course-info {
    flex: 1;
    position: absolute;
    top: 55%;
    left: 70vh;
    transform: translate(-50%, -50%);
    display: flex;
  }

  .course-card {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 480px;
    height: 230px;
    display: flex;
    flex-direction: column;
  }

  .course-icon {
    width: 100px;
    height: 35px;
    padding-left: 20px;
    object-fit: cover;
  }

  .curso-icone2 {
    position: absolute;
    top: 0px;
    left: 15px;
  }

  .alvo-icone {
    position: absolute;
    right: 63%;
  }

  /* BARRA DE MÓDULOS, FAVORITOS E ANOTAÇÕES */
  .barra_modulos {
    display: flex;
    position: relative;
    flex-direction: row;
    top: 73%;
    left: 25%;
    margin-top: 25px;
    width: 1500px;
  }

  /* SOBRE O CONTEÚDO */
  .sobre {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex: 2;
  }

  .progresso-curso {
    position: absolute;
    right: 12%;
  }

  .aula-progresso {
    position: absolute;
    right: 33%;
  }
}

/* Media Query para telas menores */
@media (max-width: 778px) {
  .sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 50px;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-menu {
    flex-direction: row;
    width: 100%;
  }

  .menu-item {
    padding: 10px 0;
    font-size: 10px;
    text-decoration: none;
  }

  .main-content {
    margin-top: 70px; /* Ajuste conforme necessário */
  }

  .header {
    padding: 50px;
  }

  .logo {
    width: 140px;
    height: 75px;
    top: 10px;
    left: 15%;
    transform: translateX(-50%);
  }

  .user-info {
    position: absolute;
    right: 110px;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
  }

  .user-icon {
    width: 25px;
    height: 25px;
  }

  .course-info {
    flex: 1;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 230px;
  }

  .alvo-icone {
    position: absolute;
    right: 65px;
  }

  .course-card {
    width: 100%;
    max-width: 300px;
  }

  .course-info a {
    text-decoration: none;
  }
}
